<div class="container-fluid" style="background-image: url('https://cdn.hipwallpaper.com/i/3/45/B9cOR1.jpg')">
  <div class="form w-50 m-auto">
    <form action="/employee/save" method="POST" novalidate="novalidate">
      <h3 style="text-align: center;color: white">Create Employee</h3>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="birthday">Date of Birth</label>
        <input type="date" class="form-control" id="birthday">
      </div>
      <div class="form-group">
        <label for="idCard">ID Card</label>
        <input type="text" class="form-control" id="idCard">
      </div>
      <div class="form-group">
        <label for="salary">Salary</label>
        <input type="text" class="form-control" id="salary">
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" id="phone">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address">
      </div>
      <div class="form-group">
        <label for="position">Position</label>
        <select class="form-control" id="position">
          <option>General Manager</option>
          <option>Manager</option>
          <option>Supervisor</option>
          <option>Captain</option>
          <option>Staff</option>
        </select>
      </div>
      <div class="form-group">
        <label for="education">Education</label>
        <select class="form-control" id="education">
          <option>University</option>
          <option>College</option>
          <option>High School</option>
          <option>Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="department">Department</label>
        <select class="form-control" id="department">
          <option>Human Resource</option>
          <option>Finance</option>
          <option>Commercial</option>
          <option>Food & Beverage</option>
          <option>Kitchen</option>
        </select>
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
