<div class="container-fluid" style="background-image: url('https://images2.alphacoders.com/876/876342.png')">
  <div class="form w-50 m-auto">
    <form action="/contract/save" method="POST" novalidate="novalidate">
      <h3 style="text-align: center;color: white">Create Contract</h3>
      <div class="form-group">
        <label for="employee">Employee Name</label>
        <select class="form-control" id="employee">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="customer">Customer Name</label>
        <select class="form-control" id="customer">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="type">Contract Details</label>
        <select class="form-control" id="type">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="startDate">Starting Date</label>
        <input type="date" class="form-control" id="startDate">
      </div>
      <div class="form-group">
        <label for="endDate">Ending Date</label>
        <input type="date" class="form-control" id="endDate">
      </div>
      <div class="form-group">
        <label for="deposit">Deposit</label>
        <input type="text" class="form-control" id="deposit">
      </div>
      <div class="form-group">
        <label for="total">Total Pay</label>
        <input type="text" class="form-control" id="total">
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
