<div class="container-fluid" style="background-image: url('https://cdn.hipwallpaper.com/i/3/45/B9cOR1.jpg')">
  <div class="form w-50 m-auto">
    <form action="service/save" method="POST" novalidate="novalidate" class="form">
      <h3 style="text-align: center;color: white">Create Employee</h3>
      <div>
        <label>Service Code</label>
        <div class="form-group green-border-focus">
          <input type="text" class="form-control"/>
        </div>
      </div>
      <div>
        <label>Name</label>
        <div class="form-group green-border-focus">
          <input type="text" class="form-control"/>
        </div>
      </div>
      <div>
        <label>Area Using</label>
        <div class="form-group green-border-focus">
        </div>
      </div>
      <div>
        <label>Cost</label>
        <div class="form-group green-border-focus">
          <input type="text" class="form-control"/>
        </div>
      </div>
      <div>
        <label>Capacity</label>
        <div class="form-group green-border-focus">
          <input type="text" class="form-control"/>
        </div>
      </div>
      <div>
        <label>Standard Room</label>
        <div class="form-group green-border-focus">
          <input type="text" class="form-control"/>
        </div>
      </div>
      <div>
        <label>Amenities</label>
        <div class="form-group green-border-focus">
          <input type="text" class="form-control"/>
        </div>
      </div>
      <div>
        <label>Pool Area</label>
        <div class="form-group green-border-focus">
          <input type="text" class="form-control"/>
        </div>
      </div>
      <div>
        <label>Number of Floor</label>
        <div class="form-group green-border-focus">
          <input type="text" class="form-control"/>
        </div>
      </div>
      <input type="submit" class="save-pro btn btn-info" value="Save Service"/>
    </form>
  </div>
</div>
