<div class="container-fluid" style="background-image: url('https://images2.alphacoders.com/876/876342.png')">
  <div class="form w-50 m-auto">
    <form action="/contract-details/save" method="POST" novalidate="novalidate">
      <h3 style="text-align: center;color: white">Create Contract Details</h3>
      <div class="form-group">
        <label for="employee">Contract</label>
        <select class="form-control" id="employee">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="customer">Accompanied Service</label>
        <select class="form-control" id="customer">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="type">Quantity</label>
        <select class="form-control" id="type">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
