<h1 class="h1">Simple Calculator</h1>
<h3>Type the first number: </h3>
<br>
<input type="text" [value]="firstNumber" (change)="setFirstNumberByChange($event)"/>
<br>
<h3>Type the second number: </h3>
<br>
<input type="text" [value]="secondNumber" (change)="setSecondNumberByChange($event)"/>
<br>
<h3>Choose action: </h3>
<br>
<input class="btn btn-primary" type="button" value=" + " (click)="addition()">
&nbsp;
<input class="btn btn-primary" type="button" value=" - " (click)="abstraction()">
&nbsp;
<input class="btn btn-primary" type="button" value=" x " (click)="multiplication()">
&nbsp;
<input class="btn btn-primary" type="button" value=" / " (click)="division()">
<h3>Result: {{result}}</h3>

